header{
    padding: 28px 0;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);;
}

.header__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption{
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.7;
}

.headline3{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    opacity: 0.7;
}

.header__phone{
    display: flex;
    align-items: center;
}

.header__btn{
    width: 222px;
    height: 52px;
    border: 1px solid #FF5900;
    border-radius: 100px;
    display: flex;
    padding: 16px 30px;
    margin-left: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FF5900;
}

.header__btn img{
    margin-right: 10px;
}

.header__btn:hover{
    background-color: #CA4600;
    color: #fff;    
}

nav{
    padding: 31.5px 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #212121;
    display: flex;
    justify-content: center;
}

.nav-link img{
    margin-left: 4px;
}

.dropdown-ul{
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown-ul li{
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(33, 33, 33, 0.5);
    background: #FFFFFF;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    width: 352px;
    height: 49px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.home{
    position: relative;
    color: #fff;
    height: 718px;
    width: 1600px;
    margin-right: auto;
    margin-left: auto;    
}

.home__search{
    position: absolute;
    top: 0;
    right: 0;
    width: 771px;
    height: 80px;
    background: #FFFFFF;
    opacity: 0.8;
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.home__search input{
    line-height: 1;
    color: #333333;
    width: 538px;
    height: 34px;
    border-bottom: 1px solid #212121;
}

@media (max-width: 1599px) {
	.home{
        width: 100%;
    }
}

.home__img{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.home__img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home__row{
    padding-top: 170px;
    width: 780px;
}

h1{
    font-weight: 700;
    font-size: 68px;
    line-height: 110%;
}

.home__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-top: 28px;
}

.home__buttons{
    margin-top: 52px;
}

.home__buttons .btn-default{
    margin-right: 32px;
}

.btn-default{
    padding: 20px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 100px;
    background-color: #FF5900;
}

.btn-default:hover{
    background-color: #CA4600;
}

.btn-alternative{
    padding: 20px 40px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2.5px);
}

.btn-alternative:hover{
    border-color: #FF5900;
    color: #FF5900;
}

.packages, .advantages, .services, .cases{
    padding-top: 120px;
}

.advantages, .services{
    padding-bottom: 95px;
}

.block-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    color: #212121;
    margin-bottom: 60px;
}

.packages__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages__card{
    width: 360px;
    height: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages__card:nth-child(1){
    background-image: url('../images/packeges/card1.png');
}

.packages__card:nth-child(2){
    background-image: url('../images/packeges/card2.png');
}

.packages__card:nth-child(3){
    background-image: url('../images/packeges/card3.png');
}

.packages__card ul{
    margin: 40px 0 36px;
    width: 296px;
    color: #fff;
}

.packages__card ul li:nth-child(1), .packages__card ul li:nth-child(2){
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.packages__card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.packages__card-subtitle{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.packages__card-subtitle.light{
    font-size: 14px;
    opacity: 0.5;
}

.btn-ligth{
    padding: 16px 69.5px;
    color: #FF5900;
    border: 1px solid #FF5900;
    border-radius: 100px;
}

.btn-ligth:hover{
    background-color: #CA4600;
    color: #fff;
    border: none;
}

.advantages__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.advantages__card{
    text-align: center;
    width: 360px;
    height: 160px;
    padding: 15px 45px;
}

.advantages__card p{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.services{
    background-color: #F8F8F8;
}

.services__row{
    display: flex;
    justify-content: space-between;
}

.services__row.margin{
    margin-bottom: 40px;
}

.services__card{
    width: 360px;
    height: 504px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    box-sizing: content-box;
    position: relative;
}

.services__card-text{
    width: 312px;
    height: 150px;
    margin: 34px auto 32px;
    text-align: center;
    color: #212121;
    border-bottom: #6b6b6b 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.services__card-subtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.5;
    margin-bottom: 20px;
}

.services__price-wrapper{
    margin-left: 24px;
}

.services__price{
    display: flex;
}

.services__price:nth-child(2){
    margin-top: 15px;
}

.services__price p{
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    margin-top: 0px !important;
}

.price-wrapper{
    margin-left: 12px;
}

.services__card-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #FF5900 !important;
    position: absolute;
    bottom: 20px;
    right: 24px;
}

.services__card-link img{
    margin-top: 5px;
}

.cases{
    padding-bottom: 120px;
}

.cases__carusel {
	padding-bottom: 40px;
	display: grid;
	grid-template-columns: repeat(10, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	width: 1200px;
    height: 401px;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

.cases__carusel li {
	scroll-snap-align: center;
	border-radius: 3px;
}

.cases__carusel::-webkit-scrollbar {
    height: 4px;
    width: 0;
}

.cases__carusel::-webkit-scrollbar-track {
    background-color: #b7b7b7;
    opacity: 0.5;
    border-radius: 10px;

}

.cases__carusel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 200px;
    background-color: #333333;
}

.cases__card{
    width: 1200px;
    height: 100%;
    background-color: #F4F4F4;
    position: relative;
    padding: 40px 50px;
}

.cases__card img{
    position: absolute;
    top: 40px;
    right: 50px;
}

.cases__card-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #212121;
}

.cases__card-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 751px;
}

.cases-card-wrapper{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.line{
    width: 1px;
    height: 160px;
    background: #333333;
    opacity: 0.2;
}

.cases__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #333333;
    opacity: 0.5;
}

.cases__subtitle{
    font-size: 14px;
    width: 530px;
    margin-top: 12px !important;
}

.cases__goals ul{
    padding-left: 12px;
    font-size: 14px;
    list-style:disc;
}

.growup{
    height: 501px;
    text-align: center;
    background-image: url('../images/growup.png');
    color: #fff;
}

.growup__title{
    font-weight: 700;
    font-size: 68px;
    line-height: 110%;
    padding-top: 120px;
}

.growup__subtitle{
    width: 698px;
    font-size: 16px;
    margin: 28px auto 72px;
}

.about{
    padding-top: 180px;
}

.about, .team, .customers, .results, .work, .sales, .feedback{
    padding-bottom: 120px;
}

.about__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__row img{
    width: 420px;
    height: 350px;
}

.about__subtitle{
    width: 628px;
    font-size: 16px;
}

.team__row{
    display: flex;
    justify-content: space-between;
}

.team__card img{
    width: 360px;
    height: 360px;
}

.team__card-title{
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.team__card-subtitle{
    font-size: 14px;
    opacity: 0.5;
    margin-top: 4px !important;
}

.customers__row{
    display: flex;
    justify-content: space-between;
}

.customers__row img{
    width: 255px;
    height: 65px;
}

.results__subtitle{
    margin-bottom: 40px;    
}

.results__row{
    display: flex;
}

.results__row li{
    padding: 15px 35px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    box-sizing: border-box !important;
}

.results__row li:not(:last-child){
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    max-width: 200px;
}

.results__row li a{
    font-size: 14px;
    width: 130px;
    text-align: center;
}

.results__row-subtitle{
    width: 1200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
}

.results__row-subtitle p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 650px;   
}

.results__row-active{
    background-color: #333333 !important;
    color: #fff;
}

.work__row li{
    max-width: 240px !important;
    padding: 35px 55px;
}

.work--active{
    color: #fff;
    background-color: #FF5900 !important;
}

.work__block{
    width: 1200px;
    height: 300px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    font-size: 14px;
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
}

.work__block img{
    position: absolute;
    bottom: 0;
    right: 70px;
    width: 267px;
    height: 258px;
}

.work__block-subtitle{
    width: 630px;
    margin-left: 15px;
}

.work__block-subtitle li{
    list-style: disc;
}

.work__block-img{
    height: 299px !important;
    width: 479px !important;
    right: 0 !important;
}

.sales__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales__row img{
    width: 360px;
    height: 544px;
}

.sales__subtitles{
    display: flex;
    justify-content: space-between;
    width: 770px;
}

.sales__subtitles p{
    font-size: 16px;
    width: 350px;
    margin: 0 !important;
}

.sales__subtitles p:nth-child(1){
    opacity: 0.5;
    width: 360px;
}

.sales__text{
    position: relative;
}

.sales__text .btn-default{
    position: absolute;
    right: 50px;
    margin-top: 40px;
}

.application{
    height: 789px;
    background-image: url('../images/background.png');
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aplication__subtitle{
    width: 908px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.aplication__form{
    width: 630px;
    height: 357px;
    background: #F4F4F4;
    padding: 30px 60px;
}

.aplication__form input{
    background: #F4F4F4;
}

.aplication__form-input{
    width: 100%;
    height: 55px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
    line-height: 1;
    margin-bottom: 16px;
}

.aplication__form-input::placeholder{
    opacity: 0.4;
}

.form__checkbox{
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}

.form__checkbox input{
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 0;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #333333;
    padding-top: 100px;
    color: #fff;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__title img{
    margin-bottom: 57px;
}

.footer__title p{
    font-size: 14px;
    line-height: 170%;
}

.social{
    display: flex;
}

.footer__subtitle{
    width: 204px;
    font-size: 14px;
    opacity: 0.5;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.footer__links li{
    font-size: 14px;
    line-height: 170%;
}

.footer__end{
    margin-top: 80px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 120%;
    opacity: 0.3;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.slick-arrow{
    height: 56px !important;
    width: 56px !important;
}

.slick-prev.slick-arrow{
    background-image: url('../images/icons/prev.svg') !important;
    margin-left: -30px;
}

.slick-next.slick-arrow{
    background-image: url('../images/icons/next.svg') !important;
    margin-right: -10px;
}

.slick-next:before, .slick-prev:before{
    content: '' !important;
}

.feedback__card{
    width: 360px;
    height: 420px;
    background-color: #F4F4F4;
}

.slick-slider .slick-list {
    margin-left: 15px !important;
}

.slider{
    margin-bottom: 50px;
}

.feedback{
    text-align: center;
}

.mobile-nav{
    display: none;
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: #fff;
    top: 50px;
    right: 0;
    transform: translateX(150%);
    animation: ani 1s forwards;
}

.mobile-nav__ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__ul li{
    color: #333333;
    font-size: 20px;
    margin-top: 30px;
}

.mobile-nav.active{
    display: block;
}

@media (max-width: 1209px) {
    .ser-row, .cus-row{
        display: flex;
        justify-content: center;
    }
    .services__row{
        flex-direction: column;
    }
    .services__row.margin {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .services__card{
        margin-bottom: 20px;
    }
    .cases__carusel{
        width: 100%;
    }
    .res-container{
        overflow: scroll;
    }
    
    .customers__row{
        flex-direction: column;
    }
    .customers__row:nth-child(2){
        margin-top: 0 !important;
        margin-left: 50px;
    }
}

@media (max-width: 1099px) {
    .packages__row, .team__row {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .packages__card:nth-child(1), .team__card:nth-child(1) {
        margin-right: 20px;
    }
    .packages__card, .team__card{
        margin-bottom: 20px;
    }
    .adv-row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .advantages__row{
        flex-direction: column;
    }
    .about__row{
        justify-content: space-around;
    }
    .about__subtitle{
        width: 400px;
        font-size: 12px;
    }
    .sales__subtitles{
        width: 100%;
        flex-direction: column;   
    }
    .sales__subtitles p:nth-child(1){
        margin-bottom: 20px !important;
    }
    .sales__text .btn-default{
        position: static;
    }
    .sales__row{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 899px) {
    .caption{
        font-size: 10px;
    }
    .headline3{
        font-size: 12px;
    }
    nav{
        padding: 0;
        height: 60px;
    }
    nav ul{
        display: none;
    }
    .mobile-nav-button{
        display: block !important;
        position: absolute !important;
        top: 0px;
        right: 20px;
    }
    .about__row img {
        width: 320px;
        height: 250px;
    }
    .aplication__subtitle{
        width: 100%;
    }
    .footer__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 779px) {
    .home__row {
        width: 100%;
    }
    .caption{
        display: none;
    }
    h1{
        font-size: 58px;
    }
    .packages__row, .team__row {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .packages__card, .team__card{
        margin: 10px 0 !important;
    }
    .advantages__card{
        margin-top: 10px;
        width: 250px;
        padding: 10px !important;
    }
    .advantages__card p{
        font-size: 10px !important;
        width: auto !important;
    }
    .ser-row{
        flex-direction: column;
        align-items: center;
    }
    .services__row.margin {
        margin: 0;
    }
    .growup__title{
        font-size: 58px;
    }
    .growup__subtitle{
        width: 100%;
    }
    .about__row{
        flex-direction: column;
    }
    .about__row img {
        margin-top: 20px;
    }
    .sales__row img {
        width: 260px;
        height: 404px;
    }
    .sales__subtitles p{
        font-size: 12px;
        width: 100%;
    }
    .sales__subtitles p:nth-child(1) {
        width: 100%;
    }

}

@media (max-width: 669px) {
    .home__buttons .btn-default{
        margin-bottom: 20px;
    }
    .customers__row:nth-child(2){
        margin-left: 0;
    }
    .aplication__form{
        width: 100%;
    }
    .aplication__subtitle{
        font-size: 12px;
    }
    .application{
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 549px) {
    .headline3{
        display: none; 
    }
    button{
        font-size: 14px !important;
        text-align: center !important;
    }
    .header__btn{
        width: 200px;
    }
    .advantages__card{
        width: 100%;
    }
    .growup__title{
        font-size: 48px;
    }
    .growup__subtitle{
        font-size: 12px;
    }
    .sales__row img {
        width: 160px;
        height: 254px;
    }
}

@media (max-width: 500px) {
    .cus-row{
        flex-direction: column;
        align-items: center;
    }
}

@keyframes ani {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}